body {
	padding-top:51px;
}



/** Kontostand Panel **/
.panel-kontostand > .panel-body.positive {
	background-color: #65b045;
}

.panel-kontostand > .panel-body.negative {
	background-color: #dd4b39;
}
