@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>@title</title>
</head>
<body>
	<section class="user">
		<div name="user">Angemeldet als: user.getUsername()</div>
	</section>
	<section class="menu">
		<nav>
			<a href=@routes.ApplicationController.getSalesOverview>Verkauf</a>
			<a href=@routes.ApplicationController.getAccountOverview>Konten</a>
			<a href=@routes.ApplicationController.getPurchaseOverview>Einkauf</a>
			<a href=@routes.ApplicationController.getStockOverview>Bestand</a>
		</nav>
	</section>
	
	<section class="content">@content</section>
</body>
</html>