@extra_styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slick.grid.css")" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/smoothness/jquery-ui-1.8.16.custom.css")" type="text/css" />

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrapValidator.min.css")"/>
} @extra_scripts = {
<script src="@routes.Assets.at("javascripts/slickgrid/lib/firebugx.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery-ui-1.8.16.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery.event.drag-2.2.js")"></script>

<script src="@routes.Assets.at("javascripts/slickgrid/slick.core.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.grid.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.editors.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.dataview.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/plugins/slick.rowselectionmodel.js")"></script>

<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrapValidator.min.js")"></script>
} @content = {

<section id="purchase" style="margin-bottom: 20px;"></section>

<button id="newBtn" type="button" class="btn btn-primary">neu</button>
<button id="editBtn" type="button" class="btn btn-default">bearbeiten</button>
<button id="deleteBtn" type="button" class="btn btn-default">löschen</button>

<div id="myGridContainer" style="width: 95%;">
	<div id="myGrid" style="width: 100%; height: 600px;"></div>
	<div id="myPager"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Neuer Eintrag</h4>
			</div>
			<div class="modal-body">
				<form action="/purchase" method="POST" id="purchaseForm" class="form-horizontal" role="form">
					<div class="form-group">
						<label for="datefield" class="col-sm-2 control-label">Datum</label>
						<div class="col-sm-10">
							<input class="form-control" id="datefield" name="datefield"
								size="16" type="text" value=""> <span
								class="input-group-addon" id="datepicker" data-date=""
								data-date-format="dd-mm-yyyy">Cal<i class="icon-calendar"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label for="stieglInput" class="col-sm-2 control-label">Stiegl</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="stieglInput"
								name="stieglInput" placeholder="0">
						</div>
						<div class="col-sm-1">
							<p style="padding-top: 7px;">Stück</p>
						</div>
						<div class="col-sm-4">
							<input id="stieglPrice" name="stieglPrice" class="form-control"
								placeholder="0.00">	
						</div>
						<div class="col-sm-1">
							<p style="padding-top: 7px;">€</p>
						</div>
					</div>		
				</form>
			</div>

		</div>
		<div class="modal-footer">
			<button id="dismissBtn" type="button" class="btn btn-default" data-dismiss="modal">Verwerfen</button>
			<button id="saveBtn" type="button" class="btn btn-primary">Eintrag erstellen</button>
		</div>
	</div>
</div>

<script src="@routes.Assets.at("javascripts/view.purchaseOverview.js")"></script>
} @main("PurchaseOverview", extra_styles, extra_scripts)(content)
