@extra_styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slick.grid.css")" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/smoothness/jquery-ui-1.8.16.custom.css")" type="text/css" />

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrapValidator.min.css")"/>
} @extra_scripts = {
<script src="@routes.Assets.at("javascripts/slickgrid/lib/firebugx.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery-ui-1.8.16.custom.min.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery.event.drag-2.2.js")"></script>

<script src="@routes.Assets.at("javascripts/slickgrid/slick.core.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.grid.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.editors.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/slick.dataview.js")"></script>
<script src="@routes.Assets.at("javascripts/slickgrid/plugins/slick.rowselectionmodel.js")"></script>

<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")"></script>
<script src="@routes.Assets.at("javascripts/bootstrapValidator.min.js")"></script>
} @content = {

<section id="purchase" style="margin-bottom: 20px;"></section>

<button id="newBtn" type="button" class="btn btn-primary" data-toggle ="modal" data-target="#myModal" href='@routes.PurchaseController.modal("new")'>neu</button>
<button id="editBtn" type="button" class="btn btn-default" disabled data-toggle ="modal" data-target="#myModal">bearbeiten</button>
<button id="deleteBtn" type="button" class="btn btn-default" disabled data-toggle ="modal" data-target="#myModal">löschen</button>

<div id="myGridContainer" style="width: 95%;">
	<div id="myGrid" style="width: 100%; height: 600px;"></div>
	<div id="myPager"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
	
	</div>
</div>

<script src="@routes.Assets.at("javascripts/view.purchaseOverview.js")"></script>
} @main("PurchaseOverview", extra_styles, extra_scripts)(content)
