<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Remote file for Bootstrap Modal</title>
</head>
<body>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Neuer Einkauf</h4>
	</div>
	<div class="modal-body">
		<form action="/purchase" method="POST" id="purchaseForm"
			class="form-horizontal" role="form">
			<div class="form-group">
				<label for="datefield" class="col-sm-2 control-label">Datum</label>
				<div class="col-sm-10">
					<input class="form-control" id="datefield" name="datefield"
						size="16" type="text" value=""> <span
						class="input-group-addon" id="datepicker" data-date=""
						data-date-format="dd-mm-yyyy">Cal<i class="icon-calendar"></i></span>
				</div>
			</div>
			
			<div class="form-group">
				<label for="@@ori.getProductName()Count" class="col-sm-2 control-label">@@ori.getDisplayName()</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="@@ori.getProductName()Count"
						name="@@ori.getProductName()Count" placeholder="0">
				</div>
				<div class="col-sm-1">
					<p style="padding-top: 7px;">Stück</p>
				</div>
				<div class="col-sm-4">
					<input id="@@ori.getProductName()Price" name="@@ori.getProductName()Price" class="form-control"
						placeholder="0.00">
				</div>
				<div class="col-sm-1">
					<p style="padding-top: 7px;">€</p>
				</div>
			</div>
			
		</form>
	</div>

	</div>
	<div class="modal-footer">
		<button id="dismissBtn" type="button" class="btn btn-default"
			data-dismiss="modal">Verwerfen</button>
		<button id="saveBtn" type="button" class="btn btn-primary">Eintrag
			erstellen</button>
	</div>
	
	<script>
		$('#saveBtn').click(function() {
			$('#purchaseForm').submit();
		})
	</script>
</body>
</html>