@(rawProducts: List[RawProduct])
@import views.html.purchase.items._
@content = {

<!-- Formular -->
<div class="col-md-12">
@views.html.purchase.items.purchaseForm(rawProducts)
</div>

<!-- Tabelle -->
<div class="col-md-12">
@views.html.purchase.items.purchaseTable()
</div>

<!-- DeleteModal -->
<!-- 
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		</div>
	</div>
</div>
-->
} @main("PurchaseOverview")(content)
