@(selectedAccount: Account, drinks: List[SalesProduct], eats: List[SalesProduct])
@import views.html.sale.items._

@extra_styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/barverwaltung/salesProductButtons.css")" type="text/css" />
}

@content = {
<div class="col-md-12">
		<h1>Barverkauf</h1>
</div>

<!-- Verkaufsbuttons -->
@salesProductButtonsForm(selectedAccount,drinks, eats)

<!-- Tabelle -->
@views.html.account.items.saleTable(selectedAccount.getId(), drinks, eats)

}

@main("AccountOverview", extra_styles)(content)