@(title: String)(pageContent: Html)

@extra_styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/simple-sidebar.css")" type="text/css" />
}

@content = {
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">@views.html.administration.items.adminSidebar()</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		@pageContent
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


} @main(title, extra_styles)(content)