@extra_styles = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/editTable.css")" type="text/css"/>
	
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")" type="text/css"/>
}

@extra_scripts = {
	<script src="@routes.Assets.at("javascripts/editableTable/mindmup-editabletable.js")"></script>
	<script src="@routes.Assets.at("javascripts/editableTable/numeric-input-example.js")"></script>
	
	<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")"></script>
}

@content = {

	<section id="purchase" style="margin-bottom: 20px;">
		   	
			<form action="/purchase" method="POST" id="purchaseForm" class="form" role="form">
			
		  	<label for="datefield">Datum</label>
		  	<div class="form-group">
   					<div class="input-group">
						<input class="form-control" id="datefield" name="datefield" size="16" type="text" value="">
						<span class="input-group-addon" id="datepicker" data-date="" data-date-format="dd-mm-yyyy">Cal<i class="icon-calendar"></i></span>
					 </div>
				</div>
				
		  	<label for="stieglInput">Stiegl</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="stieglInput" name="stieglInput" placeholder="0 Stück">
			    	<input id="stieglPrice" name="stieglPrice" class="input-group-addon" placeholder="0.00€">
			    </div>
			</div>
		  	<label for="bergkoenigInput">Bergkönig</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="bergkoenigInput" name="bergkoenigInput" placeholder="0 Stück">
			    	<input id="bergkoenigPrice" name="bergkoenigPrice" class="input-group-addon" placeholder="0.00€"></div>
			     </div>
			</div>
		  	<label for="goesserInput">Gösser</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="goesserInput" name="goesserInput" placeholder="0 Stück">
			    	<input id="winePrice" name="goesserPrice" class="input-group-addon" placeholder="0.00€">
			     </div>
			</div>
		  	<label for="wineInput">Wein</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="wineInput" name="wineInput" placeholder="0 Stück">
			    	<input id="winePrice" name="winePrice" class="input-group-addon" placeholder="0.00€"></div>
			     </div>
			</div>
		  	<label for="colaInput">Cola</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="colaInput" name="colaInput" placeholder="0 Stück">
			    	<input id="colaPrice" name="colaPrice" class="input-group-addon" placeholder="0.00€">
			     </div>
			</div>
		  </div>
		  <div class="col-md-1">
		  	<label for="iceTeaPInput">Eistee P</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="iceTeaPInput" name="iceTeaPInput" placeholder="0 Stück">
			    	<input id="iceTeaPPrice" name="iceTeaPPrice" class="input-group-addon" placeholder="0.00€">
			     </div>
			</div>
		  	<label for="iceTeaZInput">Eistee Z</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="iceTeaZInput" name="iceTeaZInput" placeholder="0 Stück">
			    	<input id="iceTeaZPrice" name="iceTeaZPrice" class="input-group-addon" placeholder="0.00€">
			     </div>
			</div>
		  	<label for="waterInput">Mineral 0,5l</label>
		  	<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="waterInput" name="waterInput" placeholder="0 Stück">
			    	<input id="waterPrice" name="waterPrice" class="input-group-addon" placeholder="0.00€">
			     </div>
			</div>
		  	<button id="submit" type="submit" class="btn btn-default" style="margin-top: 25px;">Einkaufen</button>
		  </div>	
		</form>

	</section>
	
	<div class="container">
	  <div class="hero-unit">
	  <div class="pull-right">
		
	  </div>
	  	<table id="mainTable" class="table table-striped">
			<thead>
				<tr>
					<th>Datum</th>
					<th>Stiegl Bier</th>
					<th>Bergkönig Bier</th>
					<th>Gösser Radler</th>
					<th>Coca Cola</th>
					<th>Eistee Pfirsich</th>
					<th>Eistee Zitrone</th>
					<th>Weißer Spritzer</th>
					<th>Toast</th>
					<th>Pizza Salami</th>
					<th>Pizza Margarita</th>
					<th>Manner Schnitten</th>
					<th>Pischinger Ecken</th>
					<th>Fairtrade Schoki</th>
				</tr>
			</thead>
	       	<tbody>
	           <tr>
		           	<td>01.01.2010</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
	           	</tr>
	            <tr>
		           	<td>01.01.2010</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
		           	<td>200</td>
		           	<td>300</td>
		           	<td>100</td>
	           	</tr>
	        </tbody>
			<tfoot>
				<tr>
					<th><strong>TOTAL</strong></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
			
	       </table>
	</div>

	<script>
	  $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
	  $('#textAreaEditor').editableTableWidget({editor: $('<textarea>')});
	  window.prettyPrint && prettyPrint();
	</script>

	<script>
		// Shorthand for $( document ).ready()
		$(function() {
			$('#datefield').val($.format.date(new Date(), 'dd-MM-yyyy'));			
		});
		
		//initialisiert den Datepicker und aktualisiert das Datumsfeld wenn ein neues Datum in Datepicker ausgewählt wurde.
		$(function (){
			var datepicker = $('#datepicker').datepicker({weekStart: 1}).on('changeDate', function(ev){
					$('#datefield').val($.format.date(ev.date, 'dd-MM-yyyy'));
			});
		})
		
		//aktualisiert den DatePicker wenn in Feld ein neues Datum eingegeben wurde.
		$('#datefield').change(function() {
			var dateddMMYYYYRegex = /(^(((0[1-9]|[12][0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)/;
		
			if(dateddMMYYYYRegex.test($('#datefield').val())){
				var dateStr = $("#datefield").val().split("-");
				date = new Date(dateStr[2], dateStr[1] - 1, dateStr[0]);
				$('#datepicker').datepicker('setValue', date);
			}
		});

		
	</script>

}


@main("PurchaseOverview", extra_styles, extra_scripts)(content)