@extra_styles = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/slick.grid.css")" type="text/css"/>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/smoothness/jquery-ui-1.8.16.custom.css")" type="text/css"/>

	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/datepicker.css")" type="text/css"/>
}

@extra_scripts = {
	<script src="@routes.Assets.at("javascripts/slickgrid/lib/firebugx.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery-ui-1.8.16.custom.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/lib/jquery.event.drag-2.2.js")"></script>
	
	<script src="@routes.Assets.at("javascripts/slickgrid/slick.core.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/plugins/slick.cellrangedecorator.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/plugins/slick.cellrangeselector.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/plugins/slick.cellselectionmodel.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/slick.formatters.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/slick.editors.js")"></script>
	<script src="@routes.Assets.at("javascripts/slickgrid/slick.grid.js")"></script>
	
	<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")"></script>
	<script src="@routes.Assets.at("javascripts/jquery-dateFormat.min.js")"></script>
	
}

@content = {

	<section id="sale" style="margin-bottom: 20px;">
		   	
			<form action="/sale" method="POST" id="purchaseForm" class="form-inline" role="form">
			<div class="row" style="
    padding-left: 1%;
    padding-right: 1%;
">
			  <div class="col-md-2">
			  	<label for="datefield">Datum</label>
			  	<div class="form-group">
	   					<div class="input-group">
							<input class="form-control" id="datefield" size="16" type="text" value="">
							<span class="input-group-addon" id="datepicker" data-date="" data-date-format="dd-mm-yyyy">Cal<i class="icon-calendar"></i></span>
						 </div>
					</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="stieglInput">Stiegl</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="stieglInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="bergkoenigInput">Bergkönig</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="bergkoenigInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="goesserInput">Gösser</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="goesserInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="wineInput">Spritzer</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="wineInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="colaInput">Cola</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="colaInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="iceTeaPInput">Eistee P</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="iceTeaPInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="iceTeaZInput">Eistee Z</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="iceTeaZInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-1">
			  	<label for="waterInput">Mineral 0,5l</label>
			  	<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" id="waterInput" placeholder="0">
				    	<div class="input-group-addon">0€</div>
				     </div>
				</div>
			  </div>
			  <div class="col-md-2">
			  	<button id="submit" type="submit" class="btn btn-default" style="margin-top: 25px;">Verkaufen</button>
			  </div>
			</div>		
			</form>
		
	</section>
 	<div id="myGridContainer" style="width:95%;">
    	<div id="myGrid" style="width:100%;height:600px;"></div>
    	<div id="myPager"></div>
	</div>

	<script>
	  var grid;
	  
	  var columns = [
		{id: "date", name: "Datum", field: "date"},
	    {id: "stiegl", name: "Stiegl Bier", field: "stiegl"},
	    {id: "bergkoenig", name: "Bergkönig Bier", field: "bergkoenig"},
	    {id: "radler", name: "Gösser Radler", field: "radler"},
	    {id: "cola", name: "Coca Cola", field: "cola"},
	    {id: "iceTeaPeach", name: "Eistee Pfirsich", field: "iceTeaPeach"},
	    {id: "iceTeaCitron", name: "Eistee Zitrone", field: "iceTeaCitron"},
	    {id: "water", name: "Mineral 0,5l", field: "water"},
	    {id: "spritzer", name: "Weißer Spritzer", field: "spritzer"},
	    {id: "toast", name: "Toast", field: "toast"},
	    {id: "pizzaSalami", name: "Pizza Salami", field: "pizzaSalami"},
	    {id: "pizzaMargarita", name: "Pizza Margarita", field: "pizzaMargarita"},
	    {id: "manner", name: "Manner Schnitten", field: "manner"},
	    {id: "pischinger", name: "Pischinger Ecken", field: "pischinger"},
	    {id: "chocolate", name: "Fairtrade Schoki", field: "radlchocolateer"}
	    
	  ];
	  var options = {
	    enableCellNavigation: true,
		//forceFitColumns: true
	  };
	
	  var data = [];
	  
	  $(function () {
	    for (var i = 0; i < 500; i++) {
	      var d = (data[i] = {});
	
	      d["date"] = $.format.date(new Date(), 'dd-MM-yyyy');
	      d["stiegl"] = i;
	      d["bergkoenig"] = 2;
	      d["radler"] = 5;
	      d["cola"] = i;
	      
	    }
	
	    grid = new Slick.Grid("#myGrid", data, columns, options);	    
	 })
	  
	 	  
	</script>
	<script>
		// Shorthand for $( document ).ready()
		$(function() {
			$('#datefield').val($.format.date(new Date(), 'dd-MM-yyyy'));			
		});
		
		//initialisiert den Datepicker und aktualisiert das Datumsfeld wenn ein neues Datum in Datepicker ausgewählt wurde.
		$(function (){
			var datepicker = $('#datepicker').datepicker({weekStart: 1}).on('changeDate', function(ev){
					$('#datefield').val($.format.date(ev.date, 'dd-MM-yyyy'));
			});
		})
		
		//aktualisiert den DatePicker wenn in Feld ein neues Datum eingegeben wurde.
		$('#datefield').change(function() {
			var dateddMMYYYYRegex = /(^(((0[1-9]|[12][0-8])[-](0[1-9]|1[012]))|((29|30|31)[-](0[13578]|1[02]))|((29|30)[-](0[4,6,9]|11)))[-](19|[2-9][0-9])\d\d$)|(^29[-]02[-](19|[2-9][0-9])(00|04|08|12|16|20|24|28|32|36|40|44|48|52|56|60|64|68|72|76|80|84|88|92|96)$)/;
		
			if(dateddMMYYYYRegex.test($('#datefield').val())){
				var dateStr = $("#datefield").val().split("-");
				date = new Date(dateStr[2], dateStr[1] - 1, dateStr[0]);
				$('#datepicker').datepicker('setValue', date);
			}
		});

		
	</script>
}

@main("SalesOverview", extra_styles, extra_scripts)(content)