body {
	padding-top:52px;
}

.navbar .userInfo{
	background-color: #4285f4;
	border-bottom: 2px solid #4285f4;
}

.navbar .userInfo > p{
	color: white;
}

/** Navigation Top **/
.navbar-nav .fa{
	margin-right: 10px;
	font-size: 18px;
}

/** Kontostand Panel **/
.panel-kontostand > .panel-body.positive {
	background-color: #65b045;
}

.panel-kontostand > .panel-body.negative {
	background-color: #dd4b39;
}

.sidebarPlusIcon {
	font-size: 38px;
	vertical-align: middle;
	margin-left: 29%;
}

section #table {
	padding-top: 50px;
}
