body {
	padding-top:52px;
}

.navbar .userInfo{
	background-color: #4285f4;
	border-bottom: 2px solid #4285f4;
}

.navbar .userInfo > p{
	color: white;
}

/** Kontostand Panel **/
.panel-kontostand > .panel-body.positive {
	background-color: #65b045;
}

.panel-kontostand > .panel-body.negative {
	background-color: #dd4b39;
}
