@(selectedAccount: Account, salesProductList: List[SalesProduct])
@import views.html.sale.items._
@import views.html.account.items._

@if(selectedAccount == null) {
<p>Bitte wähle einen Account aus.</p>
} else {

<div class="row">
	<div class="col-md-9">
		<h1>@selectedAccount.getFirstName()
			@selectedAccount.getLastName()
		</h1>
		<form action="/updateAccount" method="GET">
			<input id="accountId" name="accountId" type="hidden" value="@selectedAccount.getId()" />
			<input id="updateAccount" type="submit" class="btn btn-xs btn-default" value="Konto ändern" />
		</form>
	</div>

	<div class="col-md-3">
		@kontostandPanel(selectedAccount)
	</div>
</div>

<!-- Verkaufsbuttons -->
<div class="row">
	@salesProductButtonsForm(selectedAccount,salesProductList)
</div>

<!-- Tabelle -->
<div>
	@views.html.account.items.saleTable(selectedAccount.getId(), salesProductList)
</div>

<div>
	@views.html.grid("/account/" + selectedAccount.getId())
</div>
}