@(accounts: List[Account], selectedAccount: Account, form: Form[Account], salesProductList: List[SalesProduct])

@extra_styles = {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/simple-sidebar.css")" type="text/css" />
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/barverwaltung/salesProductButtons.css")" type="text/css" />
}

@content = {
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">@views.html.account.items.accountSidebar(accounts,
		selectedAccount)</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		@if(form == null) {
			@views.html.account.accountDetail(selectedAccount, salesProductList)
		}else { @if(selectedAccount == null) {
					@views.html.account.accountCreate(form)
				}else {
					@views.html.account.accountUpdate(selectedAccount, form)
				}
		}
		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("toggled");
	});
</script>
} @main("AccountOverview", extra_styles)(content)

